# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# IntelliJ
out
*.ipr
*.iws
*.iml
.idea


# MCP
eclipse
run


# Maven
.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml
pom.xml.versionsBackup
*.class
target/
/de/
/config.yml
